<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |g| %>
<%= g.hidden_field :email, value: 'guest@example.com' %>
  <%= g.hidden_field :password, value: '12345678' %>
<div class="mb-3">
    <%= g.submit 'ゲストログイン', tasks_path, class: 'btn btn-warning', method: :post %>
</div>
<% end %>

